body{
	font-family: "sofia sans";
	background-color: #BFABA2;
}

html{
	scroll-behavior: smooth ;
}

.content{
	background-color: rgba(0, 0, 128, 0.4);
	min-height: 100vh;
}

#nav_bar{
	background-color: rgba(0, 0, 128, 0.6);
}

#me{
	border:2px solid white;
}

#jeri{
	font-weight: bolder;
}

.nav-link{
	text-decoration: none ;
}

#main-div{
	padding: 10px;
	margin:10px;
	border: 3px solid white;
}

#projects{
	list-style-type: none;
}

#bg-css{
	border: 2px solid white;
}

#tools{
	border:2px solid white;
}

.card{
	background-color: #;
}

.mb-0:hover{
	 background-color: #F18959;
	 border-radius: 5px;
}

a:hover{
	background-color: #F18959;
	border-radius: 5px;
}

#send:hover{
	color: #EE34E8;
}


#form{
	background-color: #2CA888 !important;
	border: 2px solid black;
}

#credits{
	color: white;
}


#cm{
	font-weight: bolder;
}

#git{
	width: 2px;
 	height: 50px;
  	background: #0255FA;
  	transition: width 2s;
}

#git:hover {
  width: 70%;
}

#sub{
	width: 2px;
 	height: 50px;
  	background: #02FA24;
  	transition: width 2s;
}

#sub:hover {
  width: 60%;
}

#ht{
	width: 2px;
 	height: 50px;
  	background: #FAC902;
  	transition: width 2s;
}

#ht:hover {
  width: 50%;
}

#cs{
	width: 2px;
 	height: 50px;
  	background: #FA7702;
  	transition: width 2s;
}

#cs:hover {
  width: 40%;
}

#bs{
	width: 2px;
 	height: 50px;
  	background: #FA4602;
  	transition: width 2s;
}

#bs:hover {
  width: 30%;
}


#fb-link:hover, #fb-link:active{
	background-color: rgba(0, 0, 0, 0);
	size: 150%;
}

#fb-link:hover {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

#cover-photo{
	background-image: url(./images/cover.jpg);
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

#boutme{
	font-weight: bold !important;
	background-color: rgba(0, 0, 0, 0.7);
}

#hi{
	font-weight: bolder !important;
}

#credits{
	margin-left: auto !important;
}