body{
	font-family: "sofia sans";
	background-image: url(./images/paw.png);
}

html{
	scroll-behavior: smooth ;
}

.content{
	background-color: rgba(0, 0, 0, 0.4);
	min-height: 100vh;
}

#me{
	border:2px solid black;
}

#jeri{
	font-weight: bolder;
}

.nav-link{
	text-decoration: none ;
}

#main-div{
	padding: 10px;
	margin:10px;
	border: 3px solid white;
}

#projects{
	list-style-type: none;
}

.card{
	background-color: #C3E679;
}

.mb-0:hover{
	 background-color: yellow;
	 border-radius: 5px;
}

a:hover{
	background-color: #F18959;
	border-radius: 5px;
}

#send:hover{
	color: #EE34E8;
}

#tools{
	background-color: #C3E679;
}

#form{
	background-color: #C3E679 !important;
}

#credits{
	color: white;
}


#cm{
	font-weight: bolder;
}

#git{
	width: 2px;
 	height: 50px;
  	background: #41E803;
  	transition: width 2s;
}

#git:hover {
  width: 70%;
}

#sub{
	width: 2px;
 	height: 50px;
  	background: #ADE803;
  	transition: width 2s;
}

#sub:hover {
  width: 60%;
}

#ht{
	width: 2px;
 	height: 50px;
  	background: #E4E803;
  	transition: width 2s;
}

#ht:hover {
  width: 50%;
}

#cs{
	width: 2px;
 	height: 50px;
  	background: #E88703;
  	transition: width 2s;
}

#cs:hover {
  width: 40%;
}

#bs{
	width: 2px;
 	height: 50px;
  	background: #E84C03;
  	transition: width 2s;
}

#bs:hover {
  width: 30%;
}
