#external{
	color: yellow !important;
}


*{
	font-family: "Verdana", sans-serif;
	font-size: 20px;
}

h1{
	font-size: 2rem;
}

#learn{
	text-transform: uppercase;
}

.language{
	background-color: #67AF23;
}

li[title]{
	border-width: 2px;
	border-style: solid;
	border-color: skyblue;
	width: 90%;
	position: static;
}

h4 + img{
	height: 100px;
	border-width: 100px;
	border-radius: 50px;
}

section img {

height: 100px;
width: 100px

}

h4 ~ p{
	text-align: center;
	color: black !important;
}

ul > li{
	letter-spacing: 10px;	
	list-style-type: none;
}